:root {
    --primary-white: #ffffff;          /* Mantém branco */
    --secondary-white: #fcebea;        /* Pink 50 – Rosa claríssimo: #fce4ec */
    --primary-color: #b71c1c;          /* Tom solicitado – Rosa vibrante personalizado: #f71561 */
    --secondary-color: #c62828;        /* Pink 400 – Rosa forte, levemente mais claro: #ec407a */
    --primary-black: #1a1a1a;          /* Pink 900 – Rosa escuro profundo: #880e4f */
    --font-color: #333333;             /* Cinza - Tom da fonte */
}

.card, .internalCard {
    box-shadow: 0 4px 8px rgba(183, 28, 28, 0.1);
    border-radius: 12px;
}

.card {
    padding: 2rem 3rem;
    max-width: 500px;
    background-color: var(--primary-white);
}

.internalCard {
    margin-bottom: 25px;
    padding-bottom: 29px;
    border: 1px dashed var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: 130px max-content;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
}

.grid dt, .grid dd {
    margin: 0;
    display: block;
    text-align: left;
}

.grid dt {
    font-weight: bold;
    color: var(--secondary-color);
}

.link {
    text-decoration: none;
    color: var(--font-color);
}

.link:hover {
    text-decoration: underline;
}

.buttonSpace {
    margin-right: 40px;
}

h1, h2 {
    color: var(--primary-color);
}

p, figure {
    font-size: 0.9rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
}

h1 {
    margin: 6px 0 1rem 0;
}

strong {
    color: var(--secondary-color);
}

button {
    margin-top: 30px;
}

figure {
    margin-top: 25px;
}

figure figcaption {
    margin-bottom: 0.3rem;
}
