:root {
    --primary-white: #ffffff;          /* Mantém branco */
    --secondary-white: #fce4ec;        /* Pink 50 – Rosa claríssimo */
    --primary-color: #f71561;          /* Tom solicitado – Rosa vibrante personalizado */
    --secondary-color: #ec407a;        /* Pink 400 – Rosa forte, levemente mais claro */
    --primary-black: #880e4f;          /* Pink 900 – Rosa escuro profundo */
    --font-color: #333333;             /* Cinza - Tom da fonte */
}

.card, .internalCard {
    box-shadow: 0 4px 8px rgba(247, 21, 97, 0.1);
    border-radius: 12px;
}

.card {
    padding: 2rem 3rem;
    max-width: 500px;
    background-color: var(--primary-white);
}

.internalCard {
    margin-bottom: 48px;
    padding-bottom: 29px;
    border: 1px dashed var(--primary-color);
}

.link {
    text-decoration: none;
    color: var(--font-color);
}

.link:hover {
    text-decoration: underline;
}

.buttonSpace {
    margin-right: 40px;
}

h1, h2 {
    color: var(--primary-color);
}

p, figure {
    font-size: 0.9rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
}

h1 {
    margin: 6px 0 1rem 0;
}

p {
    margin: 0.5rem 0;
}

strong {
    color: var(--secondary-color);
}

button {
    margin-top: 40px;
}

figure figcaption {
    margin-bottom: 0.3rem;
}
