<div class="card">
    <h1>Bem-vindo(a) à Aplicação Angular CDB</h1>
    <div class="internalCard">
        <h2>Solicitar o Calculo do Investimento CDB</h2>
        <form [formGroup]="solicitacaoForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Investimento</mat-label>
                <input matInput formControlName="investimento"
                    mask="separator.2"
                    thousandSeparator="."
                    decimalMarker=","
                    prefix="R$ "
                    placeholder="Ex: R$ 0,00" />
                <mat-error *ngIf="solicitacaoForm.get('investimento')?.hasError('required')">
                    Campo monetário obrigatório.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('investimento')?.hasError('min')">
                    O valor deve ser maior que R$ 0,01.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Meses</mat-label>
                <input matInput type="number" formControlName="meses" (keydown)="blockDecimal($event)"
                    placeholder="Ex: 24" />
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('required')">
                    Campo numérico obrigatório.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('pattern')">
                    Apenas números inteiros.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('min')">
                    O valor deve ser maior que 1.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('max')">
                    O valor deve ser menor que 1201.
                </mat-error>
            </mat-form-field>

            <button class="buttonSpace" mat-raised-button color="primary" type="submit">Solicitar</button>

            <button mat-raised-button color="primary" (click)="clearFields()">Limpar</button>
        </form>
    </div>
    <div class="internalCard">
        <h2>Resultado do Investimento CDB</h2>
        <dl class="grid">
            <dt>Retorno Bruto:</dt><dd>{{ this.retorno.resultadoBruto | currency }}</dd>
            <dt>Retorno Líquido:</dt><dd>{{ this.retorno.resultadoLiquido | currency }}</dd>
        </dl>
    </div>
    <p>
        <a class="link" target="_blank" href="https://github.com/rodrigocdellu/stockexchange.front-end">Para <strong>Maiores Informações</strong> veja meu GitHub</a>
    </p>
    <figure>
        <figcaption>Desenvolvido Com</figcaption>
        <a class="link" target="_blank" href="https://angular.dev"><img src="Angular.png" alt="Angular" /></a>
        &nbsp;&nbsp;
        <a class="link" target="_blank" href="https://www.typescriptlang.org"><img src="TS.png" alt="TypeScript" /></a>
        &nbsp;&nbsp;
        <a class="link" target="_blank" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"><img src="JS.png" alt="JavaScrit" /></a>
        &nbsp;&nbsp;
        <a class="link" target="_blank" href="https://www.w3.org/html"><img src="HTML5.png" alt="HTML 5" /></a>
        &nbsp;&nbsp;
        <a class="link" target="_blank" href="https://www.w3.org/Style/CSS"><img src="CSS3.png" alt="CSS 3" /></a>
    </figure>
</div>